/deg-venv/
.env
/google-cloud-sdk/
google-cloud-cli-400.0.0-darwin-x86_64.tar.gz
itversity-rnd-1d43f67d369e.json
itversity-rnd-6e84420d1a68.json
data/retail_db_parquet
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
